# Configuración básica del servidor
PORT=3000
ORIGIN=*
LOG_LEVEL=INFO
ENABLE_LOGGING=false
RATE_LIMIT_ENABLED=true

# URLs objetivo del scraping
HIANIME_BASE_URL=https://hianime.vc
HIANIME_BASE_URL_V2=https://aniwatchtv.to

# Upstash Redis (Caché - Opcional pero MUY recomendado para no ser bloqueado)
# UPSTASH_REDIS_REST_URL=https://xxxx.upstash.io
# UPSTASH_REDIS_REST_TOKEN=xxxxxx

# Cabeceras personalizadas (Opcional)
# USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36
